<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Municípios do RN</title>
  </head>
  <body>
    <section class="container">
        <nav>
          <ul class="nav">
            <li class="nav-item"><h1>Municipios do Rio Grande do Norte - IBGE</h1></li>
          </ul>
        </nav>
    </section>

    <div class="container">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">MUNICÍPIO </th>
            <th scope="col">MICROREGIÃO </th>
            <th scope="col">MESORREGIÃO </th>
          </tr>
        </thead>
        <tbody>
          {% for indice, municipio in municipios.items %}
            <tr>
              <th scope="row">{{ municipio.id }}</th>
              <td>{{ municipio.nome }}</td>
              <td>{{ municipio.microrregiao.nome }}</td>
              <td>{{ municipio.microrregiao.mesorregiao.nome }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  <footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </footer>
  </body>
</html>
